.pagination
    position: relative
    margin: 0
    padding: 0
    box-sizing: border-box
    width: 300px


.pagination__item
    display: inline-block
    width: 40px
    height: 40px
    text-align: center
    line-height: 35px


    
.pagination__item-link
    text-decoration: none
    font-weight: normal
    


.pagination__item-link:not(.material-icons)
    +label-text
    color: nth($colors, 3)
    font-weight: normal

.pagination__item_active 
    border-radius: 20px
    +primary-gradient
    text-align: center

.pagination__item_active .pagination__item-link
    color: #ffffff 
    font-weight: bold
    


// .pagination__item_active::before
//     width: 40px
//     height: 40px
//     content: ""
//     position: absolute
//     top: -6px
//     left: 0px
//     border-radius: 100%
//     +primary-gradient
//     z-index: 0
    
.pagination__item:last-child
    border-radius: 100%
    +second-gradient
    

    
.pagination__item .material-icons
    display: inline-block
    color: #ffffff 
    vertical-align: middle

.pagination__description
    margin: 5px 0 0 7px