mixin pagination(count)   
    table.pagination
        tr.pagination_tr
            td.pagination__item.pagination__item_active
                a.pagination__item-link(href="/components/change-me.pug") 1
            td.pagination__item
                a.pagination__item-link(href="/components/change-me.pug") 2
            td.pagination__item
                a.pagination__item-link(href="/components/change-me.pug") 3
            td.pagination__item
                a.pagination__item-link(href="/components/change-me.pug") ...
            td.pagination__item
                a.pagination__item-link(href="/components/change-me.pug") 
                    !=count
            td.pagination__item
                a.material-icons.pagination__item-link(href="/components/change-me.pug") arrow_forward
    .pagination__description 1 – 12 из 100+ вариантов аренды
        
            