mixin pagination(count)   
    ul.pagination
        div.pagination__item.pagination__item_active
            a.pagination__item-link(href="#") 1
        li.pagination__item
            a.pagination__item-link(href="#") 2
        li.pagination__item
            a.pagination__item-link(href="#") 3
        li.pagination__item
            a.pagination__item-link(href="#") ...
        li.pagination__item
            a.pagination__item-link(href="#") 
                !=count
        li.pagination__item
            a.material-icons.pagination__item-link(href="#") arrow_forward
        
            