include ../input-text-field/input-text-field
include ../button/button

mixin  login-card
    form.login-card(action="" method="post")
        .login-card__wrap

            .login-card__title Войти

            .login-card__login-data
                +input-text-field({
                    type: "email",
                    name: "email",
                    value: "",
                    placeholder: "Email"
                }) 
                +input-text-field({
                    type: "password",
                    name: "password",
                    value: "",
                    placeholder: "Пароль"
                }) 

            +button_link({
                    type: "submit",
                    name: "button-login-card-login",
                    text: "Войти",
                    value: "button-login-card-login"
                })

            .login-card__login-link
                .login-card__login-link-text Нет аккаунта на Toxin?
                +button_framed({
                    type: "button",
                    name: "register",
                    text: "Создать",
                })