mixin rate-button(stars)
    .rate-button
        -var n = 1
        -var m = 5 - stars
        while n <= stars
            .rate-button__item.material-icons star
            -n++
        -n = 1
        while n <= 5-stars
            .rate-button__item.material-icons star_border
            -n++