mixin rate-button(name, id)
    .rate-button
        .rate-button__item.material-icons star_border
        .rate-button__item.material-icons star_border
        .rate-button__item.material-icons star_border
        .rate-button__item.material-icons star_border
        .rate-button__item.material-icons star_border
        