
mixin copyright-bar(copyright)
    .copyright-bar
        .copyright-bar__wrap
            .copyright-bar__text=copyright
            .copyright-bar__icons
                a.copyright-bar__icon(href='https://twitter.com/')
                    img(src='/img/social-icons/twitter.svg', alt='twitter')
                a.copyright-bar__icon(href='https://www.facebook.com/' alt='facebook')
                    img(src='/img/social-icons/facebook.svg', alt='facebook')
                a.copyright-bar__icon(href='https://www.instagram.com/' alt='instagram')
                    img(src='/img/social-icons/instagram.svg', alt='instagram')
