
.button
    width: 99px     
    height: 44px
    border: none
    border-radius: 2em
    +primary-gradient
    -webkit-text-fill-color: inherit
    +label-text
    color: #ffffff
    cursor: pointer
    outline: none

.button:hover
    opacity: 0.5


.button_framed__wrap
    width: 99px 
    height: 44px
    position: relative
    +primary-gradient
    border-radius: 24px

.button_framed
    width: 100% 
    height: 100%
    border-radius: inherit
    +label-text
    color: nth($colors, 6)
    position: relative
    background-color: #ffffff
    background-clip: padding-box
    border-color: transparent
    cursor: pointer
    outline: none

.button_framed__wrap:hover
    opacity: 0.5



.button_unframe
    color: nth($colors, 6)
    border: none
    background: none

.button_link
    position: relative
    display: flex
    justify-content: center
    align-items: center
    width: 320px


.button_link__arrow:after
    position: absolute
    content: "arrow_forward"
    top: 25%
    right: 3%
    
.button_unframe-cancel
    color: nth($colors, 3)
    border: none
    background: none