mixin button(name, text, style, wrap, view)
    div(class= wrap)
        button.button(type=view name= name class= style)
            span.button__text!= text
            span.button__arrow.material-icons

//- style:
        button_style_solid
        button_style_framed
        button_style_noframe
        button_style_noframe-gray
        button_style_link

 