include ../logo-color/logo-color

mixin footer-creative(description)
    .footer-creative
        .footer-creative__container
            .footer-creative__logo
                +logo-color
            .footer-creative__description-text=description
            .footer-creative__icons
                a.footer-creative__icon(href="https://twitter.com/" target="_blank")
                    img(src="/img/social-icons/twitter.svg", alt="twitter")
                a.footer-creative__icon(href="https://www.facebook.com/" target="_blank")
                    img(src="/img/social-icons/facebook.svg", alt="facebook")
                a.footer-creative__icon(href="https://www.instagram.com/" target="_blank")
                    img(src="/img/social-icons/instagram.svg", alt="instagram")