mixin quantity-buttons
    .quantity-buttons
        button.quantity-buttons__button-minus.quantity-buttons__button.quantity-buttons__button-minus_inactive -
        input.quantity-buttons__input(type = "text" value = 0 disabled)
        button.quantity-buttons__button-plus.quantity-buttons__button +
