mixin like-button(like_object)
    .like-button
        button.like-button__button(name= like_object.name id= like_object.id)
            .material-icons favorite_border
            span.like-button__count 
                !=like_object.count