mixin date-dropdown
    .date-dropdown
        button.date-dropdown__button
            input.date-dropdown__input(type = "text" value = "ДД.ММ.ГГГГ" disabled)
            i.date-dropdown__arrow.material-icons keyboard_arrow_down