extends layouts/uikit

block variables
    - var title="Headers & Footers"

block content  

    
    include ../components/header/header
    include ../components/footer/footer
    include ../components/footer-creative/footer-creative
    include ../components/copyright-bar/copyright-bar


    .header-footer
        .header-standart
            +header([
                {
                    text: "Home",
                    icon: "",
                    link: "/components/change-me.pug"
                    
                },
                {
                    text: "About Us",
                    icon: "",
                    link: "/components/change-me.pug"
                },
                {
                    text: "Services",
                    icon: "expand_more",
                    link: "/components/change-me.pug"
                },
                {
                    text: "Careers",
                    icon: "",
                    link: "/components/change-me.pug"
                },
                {
                    text: "News",
                    icon: "",
                    link: "/components/change-me.pug"
                },
                {
                    text: "Documentation",
                    icon: "",
                    link: "/components/change-me.pug"
                }],{
                    is_registered: false
                },{
                    nickname: ""
                },[{
                    type: "button", 
                    name: "login", 
                    text: "Login",
                    onclick: "window.location='/registration.html'"
                },{
                    type: "button", 
                    name: "register", 
                    text: "Register",
                    onclick: "window.location='/registration.html'"
                }])

        .header-registered
            +header([
                {
                    text: "Home",
                    icon: "",
                    link: "/components/change-me.pug"
                },
                {
                    text: "About Us",
                    icon: "",
                    link: "/components/change-me.pug"
                },
                {
                    text: "Services",
                    icon: "expand_more",
                    link: "/components/change-me.pug"
                },
                {
                    text: "Careers",
                    icon: "",
                    link: "/components/change-me.pug"
                },
                {
                    text: "News",
                    icon: "",
                    link: "/components/change-me.pug"
                },
                {
                    text: "Documentation",
                    icon: "",
                    link: "/components/change-me.pug"
                }],{
                    is_registered: true
                },{
                    nickname: "Cosmin Negoita"
                })

        .footer-standart
            +footer("Lorem ipsum dolor sit amet consectetur adipiscing" + 
            " elit aliquam eget nullam pellentesque aliquam curabitur cociis.",
            [{
                text: "About Us",
                title: "Navigation",
                link: "/components/change-me.pug"
            },
            {
                text: "News",
                link: "/components/change-me.pug"
            },
            {
                text: "Support",
                link: "/components/change-me.pug"
            },
            {
                text: "Products",
                link: "/components/change-me.pug"
            }],
            [{
                text: "Who we are",
                title: "About Us",
                link: "/components/change-me.pug"
            },
            {
                text: "Our team",
                link: "/components/change-me.pug"
            },
            {
                text: "Careers",
                link: "/components/change-me.pug"
            },
            {
                text: "Investors",
                link: "/components/change-me.pug"
            }],
            [{
                text: "Documentation",
                title: "Support",
                link: "/components/change-me.pug"
            },
            {
                text: "Community",
                link: "/components/change-me.pug"
            },
            {
                text: "Get in Touch",
                link: "/components/change-me.pug"
            }],{
                title: "Subscribe to our newsletter",
                description: "Receive our latest news and promotions in your inbox!"
            },{        
                type: "email",
                name: "Email",
                value: "",
                placeholder: "Your email address"
            })
            

        .copyright-bar-standart
            +copyright-bar("Copyright © 2018 Toxin UI Kit. All rights reserved.")

        .footer-creative-standart
            +footer-creative("Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.")