include ./expandable-checkbox-list__data

.expandable-checkbox-list
    button.expandable-checkbox-list__button
        span!= title 
        i.expandable-checkbox-list__arrow.material-icons keyboard_arrow_down
    include ../checkbox-buttons/checkbox-buttons

