-
    var items_array = [
        {
            description: 'Завтрак',
            name: 'expandable-checkbox-list__item',
            checked: false
        },
        {
            description: 'Письменный стол',
            name: 'expandable-checkbox-list__item',
            checked: false
        },
        {
            description: 'Стул для кормления',
            name: 'expandable-checkbox-list__item',
            checked: ''
        },
        {
            description: 'Кроватка',
            name: 'expandable-checkbox-list__item',
            checked: ''
        },
        {
            description: 'Телевизор',
            name: 'expandable-checkbox-list__item',
            checked: ''
        },
        {
            description: 'Шампунь',
            name: 'expandable-checkbox-list__item',
            checked: false
        },
        {
            description: 'Телевизор',
            name: 'expandable-checkbox-list__item',
            checked: false
        }]


- var title = "Expandable checkbox list"