include ../input-text-field/input-text-field
include ../radio-button/radio-button
include ../toggle-button/toggle-button
include ../button/button
include ../masked-text-field/masked-text-field


mixin registration-card
    .registration-card 
        .registration-card__wrap
            .registration-card__title Регистрация аккаунта
            
            +input-text-field({
                    type: "text",
                    name: "firstname",
                    value: "",
                    placeholder: "Имя"
                })

            +input-text-field({
                    type: "text",
                    name: "secondname",
                    value: "",
                    placeholder: "Фамилия"
                })                

            .registration-card__radio-buttons       
                +radio-button("gender", "men", "checked", "Мужчина")
                +radio-button("gender", "woman", false, "Женщина")

            .registration-card__bday
                h3 Дата рождения
                +masked-text-field({
                    type: "text",
                    id: "#bday",
                    name: "bday",
                    value: "",
                    placeholder: "ДД.ММ.ГГГГ"
                }) 

            .registration-card__registration-data
                h3 Данные для входа в сервис
                +input-text-field({
                    type: "email",
                    name: "email",
                    value: "",
                    placeholder: "Email"
                }) 
                +input-text-field({
                    type: "password",
                    name: "password",
                    value: "",
                    placeholder: "Пароль"
                }) 

            +toggle-button("special_offer", "no", false, "Получать спецпредложения")
            
            +button_link({
                    type: "submit",
                    name: "buttbutton-registration-card-registrationon",
                    text: "перейти к оплате",
                    value: "room-reservation"
                })

            .registration-card__login-link
                .registration-card__login-link-text Уже есть аккаунт на Toxin
                +button_framed({
                    type: "button",
                    name: "registration-card-login",
                    text: "Войти",
                    onclick: "window.location='/registration.html'"
                })