extends layouts/uiKit
block content

    include ../components/room-selection/room-selection
    include ../components/datepicker/datepicker


    .cards
        .card-room-selection

            +room-selection



        .card-datepicker

            +datepicker