extends layouts/uikit
block content

    include ../components/icon-text-list/icon-text-list
    include ../components/expandable-checkbox-list/expandable-checkbox-list
    include ../components/checkbox-buttons/checkbox-buttons
    include ../components/radio-buttons/radio-buttons
    include ../components/toggle-buttons/toggle-buttons
    include ../components/like-buttons/like-buttons
    include ../components/rate-buttons/rate-buttons
    include ../components/pagination/pagination
    include ../components/review/review
    include ../components/checkbox-buttons-rich/checkbox-buttons-rich
    include ../components/buttons/buttons
    include ../components/range-slider/range-slider
    include ../components/bullet-list/bullet-list
    include ../components/input-text-field/input-text-field
    include ../components/subscription-text-field/subscription-text-field
    include ../components/masked-text-field/masked-text-field
    include ../components/date-dropdown/date-dropdown

    include ../components/room-selection/room-selection
    include ../components/datepicker/datepicker


    .cards
        .card-room-selection

            +room-selection



        .card-datepicker

            +datepicker