.leftstr,
.rightstr
    width:50%

.leftstr
    +label-text
    
    
.rightstr
    color: nth($colors, 3)
    +body-text
    text-transform: uppercase
    font-size: 12px
    line-height: 133%
    letter-spacing: 0.02em 
    text-align: right
    
.form-element
    padding-bottom: 20px
    
.form-element__titel
    margin-bottom: 5px
    width: 100%
    display: flex
    align-items: center
    justify-content: space-between


.input-text-field-default,
.input-text-field-focus
    width: 320px

.dropdown-rooms-default
    width: 266px

.dropdown-guests-default
    width: 320px

.subscription-text-field-default
    width: 350px

.like-buttons-default
    display: flex
    flex-wrap: wrap

// .rate-buttons-default
//     display: flex
//     flex-wrap: wrap


.button-default
    display: flex
    flex-wrap: wrap
    width: 350px

.button-default button
    margin-right: 20px
    margin-bottom: 20px