extends layouts/uiKit
block content
    include ../components/icon-text-list/icon-text-list
    include ../components/expandable-checkbox-list/expandable-checkbox-list
    include ../components/checkbox-buttons/checkbox-buttons
    include ../components/radio-buttons/radio-buttons
    include ../components/toggle-buttons/toggle-buttons
    include ../components/like-buttons/like-buttons
    include ../components/rate-buttons/rate-buttons
    include ../components/pagination/pagination
    include ../components/review/review
    include ../components/checkbox-buttons-rich/checkbox-buttons-rich
    include ../components/buttons/buttons
    include ../components/range-slider/range-slider
    include ../components/bullet-list/bullet-list
    include ../components/input-text-field/input-text-field
    include ../components/subscription-text-field/subscription-text-field
    include ../components/masked-text-field/masked-text-field
    include ../components/date-dropdown/date-dropdown

    .input-text-field-default.form-element
        .form-element__titel
            .leftstr Text field  
            .rightstrDefault 
            
        +input-text-field({
                name: "Email",
                value: "",
                placeholder: "Email"
            })                


      
    .input-text-field-focus.form-element
        .form-element__titel
            .leftstr Text field  
            .rightstr Hover / focus
            
        +input-text-field({
                name: "text-field",
                value: "This is pretty awesome",
                placeholder: ""
            })                

    
    
    .dropdown-rooms-default.form-element
        .form-element__titel
            .leftstr dropdown
            .rightstr Default
            
        include ../components/dropdown-rooms/dropdown-rooms
        
    
    
    .dropdown-guests-default.form-element
        .form-element__titel
            .leftstr dropdown
            .rightstr
           
        include ../components/dropdown-guests/dropdown-guests

    
    
    .subscription-text-field-default.form-element
        .form-element__titel
            .leftstr subscription text field 
            .rightstr
            
        +input-text-field({
                name: "Email",
                value: "",
                placeholder: "Email"
            })       

    
    
    .masked-text-field-default.form-element
        .form-element__titel
            .leftstr masked-text-field
            .rightstr
            
        +masked-text-field({
                id: "#date",
                name: "",
                value: "",
                placeholder: "ДД.ММ.ГГГГ"
            }) 
        
        

    
    .expandable-checkbox-list-default.form-element
        .form-element__titel
            .leftstr
            .rightstr                
        
        +expandable-checkbox-list("expandable checkbox list", [{
                description: 'Завтрак',
                name: 'expandable-checkbox-list__item',
                checked: false
            },
            {
                description: 'Письменный стол',
                name: 'expandable-checkbox-list__item',
                checked: false
            },
            {
                description: 'Стул для кормления',
                name: 'expandable-checkbox-list__item',
                checked: ''
            },
            {
                description: 'Кроватка',
                name: 'expandable-checkbox-list__item',
                checked: ''
            },
            {
                description: 'Телевизор',
                name: 'expandable-checkbox-list__item',
                checked: ''
            },
            {
                description: 'Шампунь',
                name: 'expandable-checkbox-list__item',
                checked: false
            },
            {
                description: 'Телевизор',
                name: 'expandable-checkbox-list__item',
                checked: false
            }])

    
    
    .checkbox-buttons-default.form-element
        .form-element__titel
            .leftstr checkbox buttons
            .rightstr
                        
        +checkbox-buttons([{
                description: 'Можно курить',
                name: 'expandable-checkbox-list__item',
                checked: false
            },
            {
                description: 'Можно с питомцами',
                name: 'expandable-checkbox-list__item',
                checked: ''
            },
            {
                description: 'Можно пригласить гостей <br>(до 10 человек)',
                name: 'expandable-checkbox-list__item',
                checked: ''
            }])
    

    
    .radio-buttons-default.form-element
        .form-element__titel
            .leftstr radio buttons
            .rightstr                
        
        +radio-button("gender", "men", "checked", "Мужчина")
        +radio-button("gender", "woman", false, "Женщина")



    .toggle-buttons-default.form-element
        .form-element__titel
            .leftstr toggle buttons
            .rightstr
                        
        +toggle-button("special_offer", "yes", "checked", "Получать спецпредложения")
        +toggle-button("special_offer", "no", false, "Получать спецпредложения")
    


    .like-buttons-default.form-element
        .form-element__titel
            .leftstr like buttons
            .rightstr
                        
        +like-buttons({
            name: "like",
            count: "2"
        })
        +like-buttons({
            name: "like",
            count: "11"
        })



    .rate-buttons-default.form-element
        .form-element__titel
            .leftstr rate buttons
            .rightstr
                
        +rate-button("rate", "4")
        +rate-button("rate", "5")



    .range-slider-default.form-element
        .form-element__titel
            .leftstr 
            .rightstr
                
        +range-slider("range slider", "0", "20000", "&#8381")
    


    .button-default.form-element
        .form-element__titel
            .leftstr 
            .rightstr
                
        +button("solid", "Click me", "button_style_solid")
        +button("solid", "Click me", "button_style_solid")
        +button("solid", "Click me", "button_style_framed")
        +button("solid", "Click me", "button_style_framed")
        +button("solid", "Click me", "button_style_noframe")
        +button("solid", "Click me", "button_style_noframe-gray")
        +button("solid", "Перейти к оплате", "button_style_link")



    .pagination-default.form-element
        .form-element__titel
            .leftstr Pagination
            .rightstr
        
        +pagination("15")



    .checkbox-buttons_rich.form-element
        .form-element__titel
            .leftstr Rich checkbox buttons 
            .rightstr
        
        +checkbox-buttons-rich([{
                title: "Широкий коридор",
                description: 'Ширина коридоров в номере<br> не менее 91 см.',
                name: ' ',
                checked: false
            },
            {   
                title: "Помощник для инвалидов",
                description: 'На 1 этаже вас встретит специалист<br> и проводит до номера.',
                name: ' ',
                checked: 'checked'
            }])



    .bullet-list-default.form-element
            .form-element__titel
                .leftstr bullet list
                .rightstr
            
            +bullet-list(["Нельзя с питомцами", "Без вечеринок и мероприятий", "Время прибытия — после 13:00,<br> а выезд до 12:00"])



    .review-default.form-element
            .form-element__titel
                .leftstr review
                .rightstr
            
            +review({
                name: "Мурад Сарафанов",
                image_url: "/img/murad.png",
                date: "5 дней назад",
                text: "Великолепный матрас на кровати в основной спальне!\
                    А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие.\
                    Выкрикивал комплименты повару — никто не жаловался из соседей.",
                likes: "12"
                })



    .icon-text-list-default.form-element
            .form-element__titel
                .leftstr icon text list
                .rightstr
            
            +icon-text-list({
                image_url: "/img/comfort.svg",
                title: "Комфорт",
                description: "Шумопоглащающие стены"
                })
            +icon-text-list({
                image_url: "/img/location-city.svg",
                title: "Удобство",
                description: "Окно в каждой из спален"
                })



    .icon-text-list-default.form-element
            .form-element__titel
                .leftstr date dropdown
                .rightstr

            +date-dropdown


