extends layouts/uiKit
block content

    //input-text-field
    div
        .clearfix
            .leftstr
                h3 Text field  
            .rightstr.clearfix
                h3 Default
        -var textFieldName = "Email"
        -var textFieldValue = ""
        -var textFieldPlaceholder="Email"
        include ../components/input-text-field
    //input-text-field    
    div
        .clearfix
            .leftstr
                h3 Text field  
            .rightstr.clearfix
                h3 Hover/focus
        -var textFieldName = "text-field"
        -var textFieldValue = "This is pretty awesome"
        -var textFieldPlaceholder=""
        include ../components/input-text-field
    //dropdown
    div
        div
        .clearfix
            .leftstr
                h3 Dropdown  
            .rightstr.clearfix
                h3 Default
        include ../components/dropdown
        