extends layouts/uiKit
block content

    .input-text-field-default
        .clearfix
            .leftstr
                h3 Text field  
            .rightstr.clearfix
                h3 Default
        -var textFieldName = "Email"
        -var textFieldValue = ""
        -var textFieldPlaceholder="Email"
        include ../components/input-text-field
    //input-text-field    
    .input-text-field-focus
        .clearfix
            .leftstr
                h3 Text field  
            .rightstr.clearfix
                h3 Hover/focus
        -var textFieldName = "text-field"
        -var textFieldValue = "This is pretty awesome"
        -var textFieldPlaceholder=""
        include ../components/input-text-field
    //dropdown-rooms
    .dropdown-rooms-default
        .clearfix
            .leftstr
                h3 dropdown
            .rightstr.clearfix
                h3 Default
        include ../components/dropdown-rooms

    .dropdown-rooms-default
        .clearfix
            .leftstr
                h3 dropdown
            .rightstr.clearfix
                h3 Default
        include ../components/dropdown-rooms

    
    <script src="/components/dropdown-rooms.js"></script>