.leftstr,
.rightstr
    float: left
    width:50%
    
.rightstr h3
    color: nth($colors, 3)
    text-align: right
    font-weight: normal
    line-height: 15px

.clearfix::after
    content: ""
    display: table
    clear: both

.input-text-field-default,
.input-text-field-focus
    width: 320px

.dropdown-rooms-default
    width: 300px