body 
    margin: 0
    
.header-footer
    box-sizing: border-box
    max-width: 1440px
    height: 1350px
    background-color: #E5E5E5
    margin: 0

.header-standart
    box-sizing: border-box
    position: relative
    top: 150px
    width: 100%

    
.header-registered
    box-sizing: border-box
    position: relative
    top: 190px
    max-width: 1440px


.footer-standart
    box-sizing: border-box
    position: relative
    top: 230px
    width: 100%
    max-width: 1440px

    
.copyright-bar-standart
    box-sizing: border-box
    position: relative
    top: 230px
    width: 100%
    max-width: 1440px

.footer-creative-standart
    box-sizing: border-box
    position: relative
    top: 270px
    width: 100%
    max-width: 1440px