.header-footer
    box-sizing: border-box
    width: 1440px
    height: 1350px
    background-color: #E5E5E5

.header-standart
    position: absolute
    top: 150px
    box-sizing: border-box
    width: 1440px
    background-color: #E5E5E5
    
.header-registered
    position: absolute
    top: 260px
    box-sizing: border-box
    width: 1440px
    background-color: #E5E5E5