mixin radio-button(name, id, checked, description)
    .radio-button
        input.radio-button__button(type="radio" name= name id= id checked= checked)
        label(for !=id)
            !=description