mixin subscription-text-field(object) 
    .subscription-text-field   
        input.subscription-text-field__input(type="text" name= object.name value=object.value placeholder= object.placeholder)
        button.subscription-text-field__button.material-icons arrow_forward
    