.subscription-text-field   
    input(type="text" class="subscription-text-field__input"  name=name value=value placeholder=placeholder)
    button.subscription-text-field__button.material-icons arrow_forward
    