.subscription-text-field   
    input(type="text" class="subscription-text-field__input"  name=textFieldName value=textFieldValue placeholder=textFieldPlaceholder)
    button.subscription-text-field__button.material-icons arrow_forward
    