mixin subscription-text-field(object) 
    .subscription-text-field   
        input(type="text" class="subscription-text-field__input"  name= object.name value=object.value placeholder= object.placeholder)
        button.subscription-text-field__button.material-icons arrow_forward
    