mixin icon-text-list(object)
    .icon-text-list
        .icon-text-list__icon.material-icons=object.icon
        .icon-text-list__items
            .icon-text-list__title= object.title
            .icon-text-list__description= object.description
        hr.icon-text-list__line

