.icon-text-list
    box-sizing: border-box
    width: 280px
    display: flex
    flex-wrap: wrap


.icon-text-list__icon
    display: block
    margin-right: 10px
    font-style: normal
    font-weight: normal
    font-size: 48px
    +primary-gradient
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent

.icon-text-list__title
    font-weight: bold
    color: nth($colors, 2) 

.icon-text-list__line
    width: 100%
    border: none
    height: 1px
    background-color: rgba(31, 32, 65, 0.1)

