doctype html
html
    head
        title
        block variables
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        //- link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat&subset=cyrillic,cyrillic-ext")
        //- link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Quicksand:400,700")
        link(rel="stylesheet", href="./../style.sass")
        
        <script type="text/javascript" src="/index.js"></script>    
        <script type="text/javascript" src="/jQuery/jquery-3.4.0.js"></script>   
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
        <script type="text/javascript" src="/jQuery/jquery.datepicker.extension.range.min.js"></script>

        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap&subset=cyrillic" rel="stylesheet">

        <script type="text/javascript" src="/components/quantity-buttons/quantity-buttons.js"></script>
        <script type="text/javascript" src="/components/dropdown-rooms/dropdown-rooms.js"></script>
        <script type="text/javascript" src="/components/dropdown-guests/dropdown-guests.js"></script>
        <script type="text/javascript" src="/jQuery/jquery.maskedinput.js"></script>
        <script type="text/javascript" src="/components/masked-text-field/masked-text-field.js"></script>
        <script type="text/javascript" src="/components/expandable-checkbox-list/expandable-checkbox-list.js"></script>
        <script type="text/javascript" src="/components/like-buttons/like-buttons.js"></script>
        <script type="text/javascript" src="/components/range-slider/range-slider.js"></script>
        <script type="text/javascript" src="/components/datepicker/datepicker.js"></script>
        <script type="text/javascript" src="/components/room-selection/room-selection.js"></script>
        <script type="text/javascript" src="/components/room-reservation/room-reservation.js"></script>
    
        
        
        
    body
        block content