doctype html
html
    head
        title
        block variables
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat&subset=cyrillic,cyrillic-ext")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Quicksand:400,700")
        link(rel="stylesheet", href="./../style.sass")
        <script src="/jQuery/jquery-3.4.0.js"></script>
        <script src="./../index.js"></script>
        
    body
        block content