include ../quantity-buttons/quantity-buttons
include ../button/button


mixin dropdown-guests
    .dropdown-guests
        .dropdown-guests__button
            input.dropdown-guests__input(type = "text" value = "Сколько гостей" disabled)
            i.dropdown-guests__input-arrow.material-icons keyboard_arrow_down

        .dropdown-guests__wrap
            .dropdown-guests__adults.dropdown-guests__buttons
                div Взрослые
                +quantity-buttons
            .dropdown-guests__children.dropdown-guests__buttons
                div Дети
                +quantity-buttons
            .dropdown-guests__babies.dropdown-guests__buttons
                div Младенцы
                +quantity-buttons
            .dropdown-guests__buttons.dropdown-guests__control
                +button_unframe-cancel({
                    type: "button",
                    name: "clear",
                    text: "Очистить",
                }) 
                +button_unframe({
                    type: "button",
                    name: "accept",
                    text: "Применить",
                })
        