
mixin dropdown
    .dropdown
        .dropdown__dropbtn
            button.dropdown__btn-minus -
            input.dropdow__input(type = "text" value="0")
            button.dropdown__btn-plus +

div
    input(list="guests")
    datalist#guests
        option 
            +dropdown
        option
            +dropdown
        option
            +dropdown