.dropdown-guests__wrap
    width: 266px
    height: 119px
    border: 1px solid nth($colors, 4)
    border-top: none
    border-radius: 2px
    border-collapse: collapse

.dropdown-guests__wrap-hide
    display: none