
mixin dropdown__button
    
    button.dropdown__button-minus.dropdown__button -
    input.dropdown__input(type = "text" value="0")
    button.dropdown__button-plus.dropdown__button +

//- div
//-     p result: 
//-         span.result 
//-     +dropdown
//- button.alert alert

.dropdown
    .dropdown__result
        |<span class="dropdown__bedrooms-result"></span>
        |<span class="dropdown__beds-result"></span>
        //- |<span class="dropdown__bathrooms-result"></span>
    .dropdown__menu
        .dropdown__value.dropdown__bedrooms-value 
            span.dropdown__option Спальни
            .dropdown__buttons
                +dropdown__button
        .dropdown__value.dropdown__beds-value 
            span.dropdown__option Кровати
            .dropdown__buttons
                +dropdown__button
        .dropdown__value.dropdown__bathrooms-value 
            span.dropdown__option Ванные комнаты
            .dropdown__buttons
                +dropdown__button
        
            
    

<script src="/components/dropdown.js"></script>