include quantity-buttons
.dropdown-guests
    .dropdown-guests__button
        input.dropdown-guests__input(type = "text" value = "Сколько гостей" disabled)
    .dropdown-guests__wrap
        .dropdown-guests__adults.dropdown-guests__buttons
            span Взрослые
            +quantity-buttons
        .dropdown-guests__children.dropdown-guests__buttons
            span Дети
            +quantity-buttons
        .dropdown-guests__babies.dropdown-guests__buttons
            span Младенцы
            +quantity-buttons