

.dropdown
    .dropdown__dropbtn
    .dropdown__content
        button.dropdown__btn-minus -
        input.dropdow__input(type = "text" value="0")
        button.dropdown__btn-plus +
    
    p 2
    p 3
