include quantity-buttons
.dropdown-guests
    .dropdown-guests__button
        input.dropdown-guests__input(type = "text" value = "0" disabled)
    .dropdown-guests__wrap
        .dropdown-guests__adults
            +quantity-buttons
        .dropdown-guests__children
            +quantity-buttons
        .dropdown-guests__babies
            +quantity-buttons

//- include quantity-buttons
//- .dropdown-guests 
//-     .dropdown-guests__input <span class="dropdown-guests__result"></span>
//-         .dropdown-guests__adults
//-             +quantity-buttons
//-         .dropdown-guests__children
//-             +quantity-buttons
//-         .dropdown-guests__babies
//-             +quantity-buttons