include ../button/button
mixin datepicker
    .datepicker__wrap
        .datepicker
        .datepicker__buttons
            +button_unframe-cancel({
                    type: 'button',
                    name: 'datepicker_clear',
                    text: 'Очистить',
                })
            +button_unframe({
                    type: 'button',
                    name: 'datepicker_accept',
                    text: 'Применить',
                })