mixin filter-date-dropdown(start_date, end_date)
    -var $start_date = start_date
    -var $end_date = end_date
    .filter-date-dropdown
        input.filter-date-dropdown__input(value=start_date+" - "+end_date)
        i.filter-date-dropdown__input-arrow.material-icons keyboard_arrow_down
