.footer
    display: flex
    background-color: #ffffff
    min-height: 372px


.footer__wrap 
    display: flex
    flex-wrap: wrap
    width: 80.5%
    margin: auto
    margin-top: 100px

.footer__container
    display: flex
    flex-direction: column
    width: 200px
    height: 100%
    padding-top: 5px
    padding-bottom: 25px

.footer__container-title
    +label-text
    padding-bottom: 11px

.footer__nav-item
    +body-text
    text-decoration: none
    padding: 9.5px 0
    line-height: 19px
    color: nth($colors, 3)

.footer__description    
    width: 250px  
    padding: 0
    margin-right: 49px


.footer__subscription
    width: 240px  

.footer__logo
    padding-bottom: 30px

.footer__logo .logo-color
    padding-bottom: 18px

.footer__description-text
    letter-spacing: -0.09pt


.footer__container-description
    padding: 7px 0 23px 0

.footer__container .subscription-text-field
    width: 260px