extends layouts/home
block variables
block content
    include /components/header/header
    include /components/footer/footer
    include /components/copyright-bar/copyright-bar
    include /components/room-selection/room-selection

    .index__wrap
        .index__header
            +header([
                    {
                        text: 'О нас',
                        icon: ''
                    },
                    {
                        text: 'Услуги',
                        icon: 'expand_more'
                    },
                    {
                        text: 'Вакансии',
                        icon: ''
                    },
                    {
                        text: 'Новости',
                        icon: ''
                    },
                    {
                        text: 'Соглашения',
                        icon: 'expand_more'
                    }],{
                        is_registered: false
                    },{
                        nickname: ''
                    },[{
                        name: "login", 
                        text: "ВОЙТИ", 
                        style: "button_style_framed", 
                        wrap: "button-wrap", 
                        view: "button"
                    },{
                        name: "register", 
                        text: "ЗАРЕГЕСТРИРОВАТЬСЯ", 
                        style: "button_style_solid", 
                        wrap: "button-nowrap", 
                        view: "button"
                    }])


        article.index__article
            +room-selection

        .index__footer 
            +footer('Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»',
                        [{
                            text: 'О нас',
                            title: 'навигация'
                        },
                        {
                            text: 'Новости'
                        },
                        {
                            text: 'Служба поддержки'
                        },
                        {
                            text: 'Услуги'
                        }],
                        [{
                            text: 'О сервисе',
                            title: 'о нас'
                        },
                        {
                            text: 'Наша команда'
                        },
                        {
                            text: 'Вакансии'
                        },
                        {
                            text: 'Инвесторы'
                        }],
                        [{
                            text: 'Соглашения',
                            title: 'Служба поддержки'
                        },
                        {
                            text: 'Сообщества'
                        },
                        {
                            text: 'Связь с нами'
                        }],{
                            title: 'Подписка',
                            description: 'Получайте специальные предложения и новости сервиса'
                        },{        
                            type: 'email',
                            name: 'Email',
                            value: '',
                            placeholder: 'Email'
                        })

                       
            +copyright-bar('Copyright © 2018 Toxin отель. Все права зачищены.')            