extends layouts/home
block variables
block content
    include /components/header/header
    include /components/footer/footer
    include /components/copyright-bar/copyright-bar
    include /components/room-selection/room-selection

    .index__wrap
        .index__header
            +header([
                    {
                        text: "О нас",
                        icon: ""
                    },
                    {
                        text: "Услуги",
                        icon: "expand_more"
                    },
                    {
                        text: "Вакансии",
                        icon: ""
                    },
                    {
                        text: "Новости",
                        icon: ""
                    },
                    {
                        text: "Соглашения",
                        icon: "expand_more"
                    }],{
                        is_registered: false
                    },{
                        nickname: ""
                    },[{
                        type: "button", 
                        name: "login", 
                        text: "Войти",
                        onclick: "window.location='/dist/login.html'"
                    },{
                        type: "button", 
                        name: "register", 
                        text: "Зарегистрироваться",
                        onclick: "window.location='/dist/registration.html'"
                    }])


        article.index__article
            .index__article-wrap
                .index__slider
                    -var img = ["./img/hotelroom/hotelroom-3.jpg", "./img/hotelroom/hotelroom-4.jpg", "./img/hotelroom/hotelroom-5.jpg"] 
                    - for (var i=0; i<img.length; i++)
                        img.index__article-background(src=img[i])

            +room-selection
            .index__article-tagline Лучшие номера для вашей работы, отдыха и просто вдохновения

        .index__footer 
            +footer("Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»",
                        [{
                            text: "О нас",
                            title: "навигация"
                        },
                        {
                            text: "Новости"
                        },
                        {
                            text: "Служба поддержки"
                        },
                        {
                            text: "Услуги"
                        }],
                        [{
                            text: "О сервисе",
                            title: "о нас"
                        },
                        {
                            text: "Наша команда"
                        },
                        {
                            text: "Вакансии"
                        },
                        {
                            text: "Инвесторы"
                        }],
                        [{
                            text: "Соглашения",
                            title: "Служба поддержки"
                        },
                        {
                            text: "Сообщества"
                        },
                        {
                            text: "Связь с нами"
                        }],{
                            title: "Подписка",
                            description: "Получайте специальные предложения и новости сервиса"
                        },{        
                            type: "email",
                            name: "Email",
                            value: "",
                            placeholder: "Email"
                        })

                       
            +copyright-bar("Copyright © 2018 Toxin отель. Все права зачищены.")
            
                        
            <script type="text/javascript" src="/jQuery/jquery-3.4.0.js"></script>             
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>

            <script type="text/javascript" src="/jQuery/jquery.datepicker.extension.range.min.js"></script>
            <script type="text/javascript" src="/jQuery/slick-1.8.1/slick/slick.min.js"></script> 
            <script type="text/javascript" src="/components/slider.js"></script>
            <script type="text/javascript" src="/components/dropdown-guests/dropdown-guests.js"></script>  
            <script type="text/javascript" src="/components/datepicker/datepicker.js"></script>
            <script type="text/javascript" src="/components/room-selection/room-selection.js"></script>
            <script type="text/javascript" src="/components/quantity-buttons/quantity-buttons.js"></script>
            