extends layouts/home
block variables
block content
    
    

    <script src="./index.js"></script>
    <a href="./pages_Ui_kit/colors&type-kit.pug">Colors&type</a>
    <a href="./pages_Ui_Kit/form-element.pug">Form element</a>

    
 
    
    

       