extends layouts/home

block variables
    - var title="Регистрация"

block content

    include /components/header/header
    include /components/footer/footer
    include /components/registration-card/registration-card
    include /components/copyright-bar/copyright-bar



    .registration
        .registration__wrap
            .room-details__header
                +header([
                            {
                                text: "О нас",
                                icon: "",
                                link: "/components/change-me.pug"
                            },
                            {
                                text: "Услуги",
                                icon: "expand_more",
                                link: "/components/change-me.pug"
                            },
                            {
                                text: "Вакансии",
                                icon: "",
                                link: "/components/change-me.pug"
                            },
                            {
                                text: "Новости",
                                icon: "",
                                link: "/components/change-me.pug"
                            },
                            {
                                text: "Соглашения",
                                icon: "expand_more",
                                link: "/components/change-me.pug"
                            }],{
                                is_registered: false
                            },{
                                nickname: ""
                            },[{
                                type: "button", 
                                name: "login", 
                                text: "Войти",
                                onclick: "window.location='/dist/login.html'"
                            },{
                                type: "button", 
                                name: "register", 
                                text: "Зарегистрироваться",
                                onclick: "window.location='/dist/registration.html'"
                            }])
            article.registration__article
                .registration__registration-card
                    +registration-card
                    


        .registration__footer
            +footer("Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»",
                        [{
                            text: "О нас",
                            title: "навигация",
                            link: "/components/change-me.pug"
                        },
                        {
                            text: "Новости",
                            link: "/components/change-me.pug"
                        },
                        {
                            text: "Служба поддержки",
                            link: "/components/change-me.pug"
                        },
                        {
                            text: "Услуги",
                            link: "/components/change-me.pug"
                        }],
                        [{
                            text: "О сервисе",
                            title: "о нас",
                            link: "/components/change-me.pug"
                        },
                        {
                            text: "Наша команда",
                            link: "/components/change-me.pug"
                        },
                        {
                            text: "Вакансии",
                            link: "/components/change-me.pug"
                        },
                        {
                            text: "Инвесторы",
                            link: "/components/change-me.pug"
                        }],
                        [{
                            text: "Соглашения",
                            title: "Служба поддержки",
                            link: "/components/change-me.pug"
                        },
                        {
                            text: "Сообщества",
                            link: "/components/change-me.pug"
                        },
                        {
                            text: "Связь с нами",
                            link: "/components/change-me.pug"
                        }],{
                            title: "Подписка",
                            description: "Получайте специальные предложения и новости сервиса"
                        },{        
                            type: "email",
                            name: "Email",
                            value: "",
                            placeholder: "Email"
                        })
            +copyright-bar("Copyright © 2018 Toxin отель. Все права зачищены.")