.room-details
    max-width: 1440px
    min-height: 1273px
    background-color: #ffffff
    margin: auto


.room-details__images
    display: grid
    grid-template-columns: 50% 50%
    grid-template-rows: 51% 49%
    

.room-details__image
    display: block
    
.room-details__image:first-child
    grid-column-start: 1
    grid-column-end: 1
    grid-row-start: 1
    grid-row-end: 3