extends layouts/home
block variables
block content

    include /components/header/header
    include /components/footer/footer
    include /components/copyright-bar/copyright-bar
    include /components/icon-text-list/icon-text-list
    include /components/review/review
    include /components/like-button/like-button

    .room-details
        .room-details__header
            +header([
                        {
                            text: 'О нас',
                            icon: ''
                        },
                        {
                            text: 'Услуги',
                            icon: 'expand_more'
                        },
                        {
                            text: 'Вакансии',
                            icon: ''
                        },
                        {
                            text: 'Новости',
                            icon: ''
                        },
                        {
                            text: 'Соглашения',
                            icon: 'expand_more'
                        }],{
                            is_registered: false
                        },{
                            nickname: ''
                        },[{
                            type: 'button', 
                            name: 'login', 
                            text: 'Войти'
                        },{
                            type: 'button', 
                            name: 'register', 
                            text: 'Зарегистрироваться'
                        }])

        article.room-details__article
            .room-details__images
                img.room-details__image(src='/img/hotelroom/hotelroom-888-details-1.jpg' alt='first image')
                img.room-details__image(src='/img/hotelroom/hotelroom-888-details-2.jpg' alt='second image')
                img.room-details__image(src='/img/hotelroom/hotelroom-888-details-3.jpg' alt='third image')
            .room-details__details
                .room-details__content
                    .room-details__data
                        .room-details__data-title Сведения о номере
                        .room-details__data-icons
                            +icon-text-list({
                                icon: 'insert_emoticon',
                                title: 'Комфорт',
                                description: 'Шумопоглощающие стены'
                                })
                            +icon-text-list({
                                icon: 'location_city',
                                title: 'Удобство',
                                description: 'Окно в каждой из спален'
                                })
                            +icon-text-list({
                                icon: 'whatshot',
                                title: 'Уют',
                                description: 'Номер оснащён камином'
                                })
                    .room-details__impressions   
                    .room-details__reviews
                        .room-details__reviews-title Сведения о номере
                        .room-details__reviews-items
                            +review({
                                name: "Мурад Сарафанов",
                                image_url: "/img/murad.png",
                                date: "5 дней назад",
                                text: "Великолепный матрас на кровати в основной спальне!\
                                    А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие.\
                                    Выкрикивал комплименты повару — никто не жаловался из соседей.",
                                likes: "12"
                                })
                    .room-details__rules
                    .room-details__cancellation  
                .room-details__room-reservation
        .room-details__footer



    <script type="text/javascript" src="/components/like-button/like-button.js"></script>