extends layouts/home

block variables
    - var title="Номер 888"

block content

    include /components/header/header
    include /components/footer/footer
    include /components/copyright-bar/copyright-bar
    include /components/icon-text-list/icon-text-list
    include /components/review/review
    include /components/like-button/like-button
    include /components/datepicker/datepicker
    include /components/room-reservation/room-reservation
    include /components/bullet-list/bullet-list
    include /components/footer/footer
    include /components/impressions/impressions

    .room-details
        .room-details__wrap
            .room-details__header
                +header([
                            {
                                text: "О нас",
                                icon: "",
                                link: "/components/change-me.pug"
                            },
                            {
                                text: "Услуги",
                                icon: "expand_more",
                                link: "/components/change-me.pug"
                            },
                            {
                                text: "Вакансии",
                                icon: "",
                                link: "/components/change-me.pug"
                            },
                            {
                                text: "Новости",
                                icon: "",
                                link: "/components/change-me.pug"
                            },
                            {
                                text: "Соглашения",
                                icon: "expand_more",
                                link: "/components/change-me.pug"
                            }],{
                                is_registered: false
                            },{
                                nickname: ""
                            },[{
                                type: "button", 
                                name: "login", 
                                text: "Войти",
                                onclick: "window.location='/dist/login.html'"
                            },{
                                type: "button", 
                                name: "register", 
                                text: "Зарегистрироваться",
                                onclick: "window.location='/dist/registration.html'"
                            }])

            article.room-details__article
                .room-details__images
                    img.room-details__image(src="/img/hotelroom/hotelroom-888-details-1.jpg" alt="first image")
                    img.room-details__image(src="/img/hotelroom/hotelroom-888-details-2.jpg" alt="second image")
                    img.room-details__image(src="/img/hotelroom/hotelroom-888-details-3.jpg" alt="third image")
                .room-details__details
                    .room-details__content
                        .room-details__data
                            .room-details__data-title Сведения о номере
                            .room-details__data-icons
                                +icon-text-list({
                                    icon: "insert_emoticon",
                                    title: "Комфорт",
                                    description: "Шумопоглощающие стены"
                                    })
                                +icon-text-list({
                                    icon: "location_city",
                                    title: "Удобство",
                                    description: "Окно в каждой из спален"
                                    })
                                +icon-text-list({
                                    icon: "whatshot",
                                    title: "Уют",
                                    description: "Номер оснащён камином"
                                    })
                        .room-details__impressions 
                            .room-details__impressions-title Впечатления от номера
                            +impressions({
                                sumptuously: 130,
                                good: 65,
                                satisfactorily: 65,
                                disappointed: 0
                            })  
                        .room-details__reviews
                            .room-details__reviews-description
                                .room-details__reviews-title Отзывы поситителей номера
                                .room-details__reviews-text 2 Отзыва
                            .room-details__reviews-item
                                +review({
                                    name: "Мурад Сарафанов",
                                    image_url: "/img/murad.jpg",
                                    date: "5 дней назад",
                                    text: "Великолепный матрас на кровати в основной спальне!\
                                        А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие.\
                                        Выкрикивал комплименты повару — никто не жаловался из соседей.",
                                    likes: "12",
                                    clicked: "clicked"
                                    })
                            .room-details__reviews-item
                                +review({
                                    name: "Патрисия Стёклышкова",
                                    image_url: "/img/patricia.jpg",
                                    date: "Неделю назад",
                                    text: "Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать,\
                                        каждый день новое блюдо и десерт как комплимент.",
                                    likes: "2",
                                    clicked: "clicked"
                                    })
                        .room-details__rules
                            .room-details__rule
                                .room-details__rule-title Правила
                                .room-details__rule-bullet-list
                                    +bullet-list(["Нельзя с питомцами", "Без вечеринок и мероприятий", "Время прибытия — после 13:00,<br> а выезд до 12:00"])
                            .room-details__rule.room-details__cancellation
                                .room-details__cancellation-title Отмена
                                .room-details__cancellation-description Бесплатная отмена в течение 48 ч. После этого при отмене 
                                                                        |не позднее чем за 5 дн. до прибытия вы получите полный 
                                                                        |возврат за вычетом сбора за услуги.
                    .room-details__room-reservation
                        +room-reservation({
                            number: "888",
                            type: "Люкс",
                            cost: "9990",
                            discount: "2179",
                            serviceCharge: "0",
                            adServiceCharge: "300"
                        })
        .room-details__footer
            +footer("Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»",
                        [{
                            text: "О нас",
                            title: "навигация",
                            link: "/components/change-me.pug"
                        },
                        {
                            text: "Новости",
                            link: "/components/change-me.pug"
                        },
                        {
                            text: "Служба поддержки",
                            link: "/components/change-me.pug"
                        },
                        {
                            text: "Услуги",
                            link: "/components/change-me.pug"
                        }],
                        [{
                            text: "О сервисе",
                            title: "о нас",
                            link: "/components/change-me.pug"
                        },
                        {
                            text: "Наша команда",
                            link: "/components/change-me.pug"
                        },
                        {
                            text: "Вакансии",
                            link: "/components/change-me.pug"
                        },
                        {
                            text: "Инвесторы",
                            link: "/components/change-me.pug"
                        }],
                        [{
                            text: "Соглашения",
                            title: "Служба поддержки",
                            link: "/components/change-me.pug"
                        },
                        {
                            text: "Сообщества",
                            link: "/components/change-me.pug"
                        },
                        {
                            text: "Связь с нами",
                            link: "/components/change-me.pug"
                        }],{
                            title: "Подписка",
                            description: "Получайте специальные предложения и новости сервиса"
                        },{        
                            type: "email",
                            name: "Email",
                            value: "",
                            placeholder: "Email"
                        })

                       
            +copyright-bar("Copyright © 2018 Toxin отель. Все права зачищены.")


    <script type="text/javascript" src="/jQuery/jquery-3.4.0.js"></script>          
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/jQuery/jquery.datepicker.extension.range.min.js"></script>        
    <script type="text/javascript" src="/jQuery/jquery.maskedinput.js"></script>
    <script type="text/javascript" src="/components/quantity-buttons/quantity-buttons.js"></script>
    <script type="text/javascript" src="/components/like-button/like-button.js"></script>
    <script type="text/javascript" src="/components/dropdown-guests/dropdown-guests.js"></script> 
    <script type="text/javascript" src="/components/datepicker/datepicker.js"></script>
    <script type="text/javascript" src="/components/room-reservation/room-reservation.js"></script>
    <script type="text/javascript" src="/components/impressions/impressions.js"></script>