extends layouts/home
block variables
block content
    include /components/header/header
    include /components/footer/footer
    include /components/copyright-bar/copyright-bar
    include /components/filter-date-dropdown/filter-date-dropdown
    include /components/dropdown-guests/dropdown-guests
    include /components/range-slider/range-slider
    include /components/checkbox-buttons/checkbox-buttons
    include /components/checkbox-buttons-rich/checkbox-buttons-rich
    include /components/expandable-checkbox-list/expandable-checkbox-list
    include /components/dropdown-rooms/dropdown-rooms
    include /components/image-slider/image-slider
    include /components/hotel-selection-card/hotel-selection-card
    include /search-room-content
    include /components/pagination/pagination
    include /components/footer/footer
    include /components/datepicker/datepicker

    .search-room
        .search-room__header
            +header([
                        {
                            text: 'О нас',
                            icon: ''
                        },
                        {
                            text: 'Услуги',
                            icon: 'expand_more'
                        },
                        {
                            text: 'Вакансии',
                            icon: ''
                        },
                        {
                            text: 'Новости',
                            icon: ''
                        },
                        {
                            text: 'Соглашения',
                            icon: 'expand_more'
                        }],{
                            is_registered: false
                        },{
                            nickname: ''
                        },[{
                            type: 'button', 
                            name: 'login', 
                            text: 'Войти'
                        },{
                            type: 'button', 
                            name: 'register', 
                            text: 'Зарегистрироваться'
                        }])
        article.search-room__article
            .search-room__filter

                .search-room__filter-item
                    .search-room__filter-item-title Даты пребывания в отеле
                    +filter-date-dropdown('19 авг', '23 авг')
                    .search-room__filter-item-datepicker
                        +datepicker
                .search-room__filter-item
                    .search-room__filter-item-title Гости
                    +dropdown-guests

                .search-room__filter-item
                    +range-slider('Диапазон цены', '0', '20000', '&#8381')
                    .search-room__filter-item-desctiption Стоимость за сутки пребывания в номере

                .search-room__filter-item
                    .search-room__filter-checkbox-title Checkbox buttons
                    +checkbox-buttons([{
                            description: 'Можно курить',
                            name: 'expandable-checkbox-list__item',
                            checked: false
                        },
                        {
                            description: 'Можно с питомцами',
                            name: 'expandable-checkbox-list__item',
                            checked: ''
                        },
                        {
                            description: 'Можно пригласить гостей <br>(до 10 человек)',
                            name: 'expandable-checkbox-list__item',
                            checked: ''
                        }])
                .search-room__filter-item
                    .search-room__filter-checkbox-title Доступность
                    +checkbox-buttons-rich([{
                        title: "Широкий коридор",
                        description: 'Ширина коридоров в номере<br> не менее 91 см.',
                        name: ' ',
                        checked: false
                    },
                    {   
                        title: "Помощник для инвалидов",
                        description: 'На 1 этаже вас встретит специалист<br> и проводит до номера.',
                        name: ' ',
                        checked: 'checked'
                    }])
                .search-room__filter-item
                    .search-room__filter-item-title Удобства номера
                    +dropdown-rooms
                .search-room__filter-item
                    +expandable-checkbox-list('Дополнительные удобства', [{
                        description: 'Завтрак',
                        name: 'expandable-checkbox-list__item',
                        checked: false
                    },
                    {
                        description: 'Письменный стол',
                        name: 'expandable-checkbox-list__item',
                        checked: ''
                    },
                    {
                        description: 'Стул для кормления',
                        name: 'expandable-checkbox-list__item',
                        checked: ''
                    },
                    {
                        description: 'Кроватка',
                        name: 'expandable-checkbox-list__item',
                        checked: ''
                    },
                    {
                        description: 'Телевизор',
                        name: 'expandable-checkbox-list__item',
                        checked: false
                    },
                    {
                        description: 'Шампунь',
                        name: 'expandable-checkbox-list__item',
                        checked: false
                    },
                    {
                        description: 'Телевизор',
                        name: 'expandable-checkbox-list__item',
                        checked: false
                    },
                    {
                        description: 'Шампунь',
                        name: 'expandable-checkbox-list__item',
                        checked: false
                    }])


            .search-room__rooms
                h1.search-room__rooms-title Номера, которые мы для вас подобрали
                -for(var i=0; i<room_array.length; i++)
                    .search-room__rooms-item
                        +hotel-selection-card(room_array[i].images, room_array[i].num, room_array[i].review)
                .search-room__rooms-pagination
                    +pagination('15')



        .search-room__footer
            +footer('Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»',
                        [{
                            text: 'О нас',
                            title: 'навигация'
                        },
                        {
                            text: 'Новости'
                        },
                        {
                            text: 'Служба поддержки'
                        },
                        {
                            text: 'Услуги'
                        }],
                        [{
                            text: 'О сервисе',
                            title: 'о нас'
                        },
                        {
                            text: 'Наша команда'
                        },
                        {
                            text: 'Вакансии'
                        },
                        {
                            text: 'Инвесторы'
                        }],
                        [{
                            text: 'Соглашения',
                            title: 'Служба поддержки'
                        },
                        {
                            text: 'Сообщества'
                        },
                        {
                            text: 'Связь с нами'
                        }],{
                            title: 'Подписка',
                            description: 'Получайте специальные предложения и новости сервиса'
                        },{        
                            type: 'email',
                            name: 'Email',
                            value: '',
                            placeholder: 'Email'
                        })

                       
            +copyright-bar('Copyright © 2018 Toxin отель. Все права зачищены')








    <script type="text/javascript" src="/components/datepicker/datepicker.js"></script>
    <script type="text/javascript" src="/jQuery/jquery-3.4.0.js"></script> 
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/jQuery/jquery.maskedinput.js"></script>
    <script type="text/javascript" src="/components/slider.js"></script>
    <script type="text/javascript" src="/components/quantity-buttons/quantity-buttons.js"></script>
    <script type="text/javascript" src="/components/dropdown-rooms/dropdown-rooms.js"></script>
    <script type="text/javascript" src="/components/dropdown-guests/dropdown-guests.js"></script>        
    <script type="text/javascript" src="/components/masked-text-field/masked-text-field.js"></script>
    <script type="text/javascript" src="/components/expandable-checkbox-list/expandable-checkbox-list.js"></script>
    <script type="text/javascript" src="/components/like-button/like-button.js"></script>
    <script type="text/javascript" src="/components/range-slider/range-slider.js"></script>
    <script type="text/javascript" src="/components/image-slider/image-slider.js"></script>
    <script type="text/javascript" src="/components/hotel-selection-card/hotel-selection-card.js"></script>
    <script type="text/javascript" src="/search-room.js"></script>
