-
    var room_888 = {
        num: {number: '888', type: 'Люкс', cost: '9 990₽'},
        
        images: [{src: '/img/hotelroom/hotelroom-888.jpg', alt: 'Room 888'},
               {src: '/img/hotelroom/hotelroom-888.jpg', alt: 'Room 888'},   
               {src: '/img/hotelroom/hotelroom-888.jpg', alt: 'Room 888'},   
               {src: '/img/hotelroom/hotelroom-888.jpg',alt: 'Room 888'}], 

        review: {stars:'5', count:'145'}
    }
        
-
    var room_840 = {
        num: {number: '840', type: '', cost: '9 900₽'},
        
        images: [{src: '/img/hotelroom/hotelroom-840.jpg', alt: 'Room 840'},
               {src: '/img/hotelroom/hotelroom-840.jpg', alt: 'Room 840'},   
               {src: '/img/hotelroom/hotelroom-840.jpg', alt: 'Room 840'},   
               {src: '/img/hotelroom/hotelroom-840.jpg',alt: 'Room 840'}], 

        review: {stars:'4', count:'65'}
    }

-
    var room_980 = {
        num: {number: '980', type: 'Люкс', cost: '8 500₽'},
        
        images: [{src: '/img/hotelroom/hotelroom-980.jpg', alt: 'Room 980'},
               {src: '/img/hotelroom/hotelroom-980.jpg', alt: 'Room 980'},   
               {src: '/img/hotelroom/hotelroom-980.jpg', alt: 'Room 980'},   
               {src: '/img/hotelroom/hotelroom-980.jpg',alt: 'Room 980'}], 

        review: {stars:'3', count:'35'}
    }

-
    var room_856 = {
        num: {number: '856', type: '', cost: '7 300₽'},
        
        images: [{src: '/img/hotelroom/hotelroom-856.jpg', alt: 'Room 856'},
               {src: '/img/hotelroom/hotelroom-856.jpg', alt: 'Room 856'},   
               {src: '/img/hotelroom/hotelroom-856.jpg', alt: 'Room 856'},   
               {src: '/img/hotelroom/hotelroom-856.jpg',alt: 'Room 856'}], 

        review: {stars:'5', count:'19'}
    }

-
    var room_740 = {
        num: {number: '740', type: '', cost: '6 000₽'},
        
        images: [{src: '/img/hotelroom/hotelroom-740.jpg', alt: 'Room 740'},
               {src: '/img/hotelroom/hotelroom-740.jpg', alt: 'Room 740'},   
               {src: '/img/hotelroom/hotelroom-740.jpg', alt: 'Room 740'},   
               {src: '/img/hotelroom/hotelroom-740.jpg',alt: 'Room 740'}], 

        review: {stars:'4', count:'44'}
    }

-
    var room_982 = {
        num: {number: '982', type: '', cost: '5 800₽'},
        
        images: [{src: '/img/hotelroom/hotelroom-982.jpg', alt: 'Room 982'},
               {src: '/img/hotelroom/hotelroom-982.jpg', alt: 'Room 982'},   
               {src: '/img/hotelroom/hotelroom-982.jpg', alt: 'Room 982'},   
               {src: '/img/hotelroom/hotelroom-982.jpg',alt: 'Room 982'}], 

        review: {stars:'3', count:'56'}
    }

-
    var room_678 = {
        num: {number: '678', type: '', cost: '5 500₽'},
        
        images: [{src: '/img/hotelroom/hotelroom-678.jpg', alt: 'Room 678'},
               {src: '/img/hotelroom/hotelroom-678.jpg', alt: 'Room 678'},   
               {src: '/img/hotelroom/hotelroom-678.jpg', alt: 'Room 678'},   
               {src: '/img/hotelroom/hotelroom-678.jpg',alt: 'Room 678'}], 

        review: {stars:'5', count:'45'}
    }

-
    var room_450 = {
        num: {number: '450', type: '', cost: '5 300₽'},
        
        images: [{src: '/img/hotelroom/hotelroom-450.jpg', alt: 'Room 450'},
               {src: '/img/hotelroom/hotelroom-450.jpg', alt: 'Room 450'},   
               {src: '/img/hotelroom/hotelroom-450.jpg', alt: 'Room 450'},   
               {src: '/img/hotelroom/hotelroom-450.jpg',alt: 'Room 450'}], 

        review: {stars:'4', count:'39'}
    }

-
    var room_350 = {
        num: {number: '350', type: '', cost: '5 000₽'},
        
        images: [{src: '/img/hotelroom/hotelroom-350.jpg', alt: 'Room 350'},
               {src: '/img/hotelroom/hotelroom-350.jpg', alt: 'Room 350'},   
               {src: '/img/hotelroom/hotelroom-350.jpg', alt: 'Room 350'},   
               {src: '/img/hotelroom/hotelroom-350.jpg',alt: 'Room 350'}], 

        review: {stars:'3', count:'77'}
    }

-
    var room_666 = {
        num: {number: '666', type: '', cost: '5 000₽'},
        
        images: [{src: '/img/hotelroom/hotelroom-666.jpg', alt: 'Room 666'},
               {src: '/img/hotelroom/hotelroom-666.jpg', alt: 'Room 666'},   
               {src: '/img/hotelroom/hotelroom-666.jpg', alt: 'Room 666'},   
               {src: '/img/hotelroom/hotelroom-666.jpg',alt: 'Room 666'}], 

        review: {stars:'5', count:'25'}
    }

-
    var room_444 = {
        num: {number: '444', type: '', cost: '5 000₽'},
        
        images: [{src: '/img/hotelroom/hotelroom-444.jpg', alt: 'Room 444'},
               {src: '/img/hotelroom/hotelroom-444.jpg', alt: 'Room 444'},   
               {src: '/img/hotelroom/hotelroom-444.jpg', alt: 'Room 444'},   
               {src: '/img/hotelroom/hotelroom-444.jpg',alt: 'Room 444'}], 

        review: {stars:'3', count:'15'}
    }

-
    var room_352 = {
        num: {number: '352', type: '', cost: '5 000₽'},
        
        images: [{src: '/img/hotelroom/hotelroom-352.jpg', alt: 'Room 352'},
               {src: '/img/hotelroom/hotelroom-352.jpg', alt: 'Room 352'},   
               {src: '/img/hotelroom/hotelroom-352.jpg', alt: 'Room 352'},   
               {src: '/img/hotelroom/hotelroom-352.jpg',alt: 'Room 352'}], 

        review: {stars:'3', count:'55'}
    }



-
    var room_array = [room_888, room_840, room_980, room_856, room_740, room_982, room_678, room_450, room_350, room_666, room_444, room_352]
