extends layouts/home
block variables
block content
    <a href="/uikit/colors&type-kit.pug">Colors&type</a>
    <a href="/uikit/form-element.pug">Form element</a>
    <a href="/uikit/cards.pug">Cards</a>
    <a href="/uikit/header&footer.pug">header&footer</a>
    
    