include ../button/button
include ../date-dropdown/date-dropdown
include ../datepicker/datepicker
include ../dropdown-guests/dropdown-guests

mixin room-selection
    form.room-selection
        h1.room-selection__title Найдём номера под ваши пожелания
        .room-selection__inputs
            .room-selection__date
                h3 Прибытие
                +date-dropdown("startDate")
            .room-selection__date
                h3 Выезд
                +date-dropdown("endDate")
            +datepicker
        .room-selection__guests
                h3 Гости
                +dropdown-guests
        +button_link({
                    type: "submit",
                    name: "button",
                    text: "Подобрать номер",
                    value: "room-selection"
                })

