.room-selection
    display: grid
    grid-template-rows: 76px 89px 111px 44px
    padding: 23px 30px 0px 29px
    position: relative
    box-sizing: border-box
    width: 380px
    height: 374px
    background-color: #FFFFFF
    border: 1px solid rgba(0, 0, 0, 0.12)
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2)
    border-radius: 4px


.room-selection__title
    width: 320px
    height: 60px
    +title-text

.room-selection__inputs
    display: flex
    flex-wrap: wrap
    margin-top: 20px
    justify-content: space-between
    width: 320px

.room-selection__date h3
    margin: 0 0 5px 0

.room-selection__guests
    margin-top: 16px

.room-selection__guests h3
    margin: 0 0 5px 0

.room-selection .button


.room-selection .datepicker__wrap
    position: absolute
    z-index: 1
    top: 190px
