doctype html
html
    head
        titel Global
        block variables
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat&subset=cyrillic,cyrillic-ext")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Quicksand:400,700")
        link(rel="stylesheet", href="./style.sass")
    body
        block content