doctype html
html
    head
        title Global
        block variables
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        link(rel="stylesheet", href="./style.sass")
        <link type="text/css" href="/jQuery/jquery-ui-1.9.2.custom/css/custom-theme/jquery-ui-1.9.2.custom.css" rel="stylesheet" />
        <script src="/index.js"></script>
        <script src="/jQuery/jquery-3.4.0.js"></script>
        <script type="text/javascript" src="/jQuery/jquery-ui-1.9.2.custom/js/jquery-ui-1.9.2.custom.js"></script>
    body
        
        block content
        