doctype html
html
    head
        title TOXIN
        block variables
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        <link type="text/css" href="/jQuery/jquery-ui-1.9.2.custom/css/custom-theme/jquery-ui-1.9.2.custom.css" rel="stylesheet" />
        link(rel="stylesheet", href="./style.sass")
        
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap&subset=cyrillic" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/jQuery/slick-1.8.1/slick/slick.css"/>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript" src="/index.js"></script>  
        

    body
        
        block content
        